# Cargo build artefacts (target dir is redirected to ../.cargo-target by .cargo/config.toml)
../.cargo-target/
# In case someone overrides target-dir back to the default
target/
.DS_Store
ring_data.sqlite